<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - project</title>
    <link href="~/images/SRF logo2.jpg" rel="icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Mysite.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
            <div class="container">
                <a class="navbar-brand font-weight-bolder" asp-action="Index">
                    SRF Bank
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active ">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">All Accounts</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="CreateCustomerAccount" asp-action="Index">Create Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="LoanUI" asp-action="AllLoans">All Loan Requests</a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="TransactionView" asp-action="Deposit">Deposit</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="TransactionView" asp-action="Withdraw">Withdraw</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="TransactionView" asp-action="Transfer">Transfer</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="" asp-controller="LogIn" asp-action="Index">Logout</a>
                        </li>


                    </ul>

                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main">
            <div class="border-dark" style="height:80px">
                <br />
                <div>
                    <h4 style="text-align: right; color: #2b6dad;"><b> Welcome Admin @TempData["UserName"] </b></h4>
                </div>
                
            </div>
            @RenderBody()
            <div style="height:40px">

            </div>

        </main>
    </div>
    

    <footer class="border-top footer text-muted" style="background-color: #2b6dad">
        <div class="container">
            &copy; 2022 - project - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-light">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
