@model CustomerMicroService.Model.Loan

@{ ViewData["Title"] = "Create Customer";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml"; }


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Customer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<h4>
    <b class="text-success">@ViewData["message"]</b>
</h4>
<div class="align-items-center text-center">
    <h4> Create New Gold Loan  Request</h4>
</div>
<hr />
<div class="container ks-container">
    <div class="row h-100 justify-content-center align-items-center">
        <form asp-action="LoanRequest" method="post" class="is-valid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GoldWeight" class="control-label"></label>
                <input asp-for="GoldWeight" placeholder="weight in grams" type="text" pattern="[0-9]{1,5}" title="Invalid type or quantity" class="form-control" />
                <span asp-validation-for="GoldWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" type="text"  placeholder="Amount in rupees" pattern="[0-9]{1,7}" title="Invalid type or amount" min="100" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>





