<html >
<head>
    <link rel="stylesheet" href="~/css/mine.css" />
    <style>
        body {
            height: auto;
        }
    </style>
</head>
<body>
    <div class="row ">
        <div class="col-lg-9"><img class="img-fluid rounded mb-4 mb-lg-0" src="~/images/b1.jpg" alt="..." /></div>
        <div class="col-lg-3">
            <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!">Offer1</a>
            <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!">Offer2</a>
            <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!">Offer3</a>
            <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!">Offer4</a>
            <a class="btn btn-outline-primary btn-lg mx-3 my-1" href="#!">Offer5</a>

        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-danger font-italic font-weight-bold">
                        Never
                    </h5>
                    <p class="card-text">Never ever share your OTPs  with others</p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-danger font-italic font-weight-bold">
                        Never
                    </h5>
                    <p class="card-text">Never ever share your bank info with others</p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success font-italic font-weight-light">
                        Always
                    </h5>
                    <p class="card-text">Always change your password frequently</p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success font-italic font-weight-light">
                        Always
                    </h5>
                    <p class="card-text">Always use trusted websites </p>
                    <a href="#" class="card-link">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <iframe src='https://webchat.botframework.com/embed/srfproject-bot?s=-LBLt2GE83E.nJTPiEsLXDFjojt5INRd-gPFW1Yrj1DWarQ3SBU0Vp4' style='min-width: 120px; width: 105%; min-height: 400px;'></iframe>


            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>